APP_SECRET_KEY=secret_key
APP_DEBUG=false
APP_DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5434/oja_db
APP_DATABASE_URL_MIGRATION=postgresql+psycopg://postgres:postgres@127.0.0.1:5434/oja_db
APP_ENVIRONMENT=development
APP_SESSION_LIFETIME=7
APP_ALLOWED_ORIGINS=["http://localhost:5173", "http://*.localhost:5174", "localhost:3000" ,"http://*.localhost:3000", "http://*.127.0.0.1:3000" ,"http://127.0.0.1:5173", "http://127.0.0.1:5174", "http://localhost:4173" ,"http://127.0.0.1:4173"]
CLOUDINARY_NAME="cloudinary_name"
CLOUDINARY_API_KEY="cloudinary_api_key"
CLOUDINARY_API_SECRET="cloudinary_api_secret"
